/* your code */

table { 
	width: 60%; 
	border-collapse: collapse; 
	margin: 20px auto; 
} 
thead {
	background-color: #4CAF50;
	color: white;
} 
th, td { 
	border: 1px solid #ddd;
	padding: 10px; 
	text-align: center;
	   }
tbody tr:nth-child(even) {
	background-color: #f2f2f2;
} 
tbody tr:hover { 
	background-color: #e6ffe6; 
} 
caption { 
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}
